In [1]:
import pandas as pd
import pandas.io.sql as pd_sql
import psycopg2 as pg
import re
from sqlalchemy import create_engine

# psychopg connection parameters
params = {'user': 'postgres', 'host': 'localhost', 'port': 5432, 'password': None}
connection = pg.connect(**params, dbname='mountain_project') # Connect
cursor = connection.cursor()

# sqlalchemy connection arguments
connection_str = f'postgres://postgres:{None}@localhost:5432/mountain_project'
engine = create_engine(connection_str)

In [2]:
conversion_dict = {'V-easy': -1, 'V-easy PG13': -1, '5.9 V-easy': -1, 'V-easy R': -0.75,
                   'V0-': -0.25, '5.9 V0-': -0.25, 'V0- PG13': -0.25, 'V0- R': -0.25,
                   '5.8+ V0': 0, '5.9 V0': 0, 'V0': 0, 'V0 PG13': 0,
                   '5.10a V0 R': 0.25, 'V0 R': 0.25, 'V0 X': 0.25, '5.8+ V0 X': 0.25, 'V0+': 0.25, 'V0+ PG13': 0.25,
                   'V0+ R': 0.5, 'V0-1': 0.5, '5.10- V0-1': 0.5,
                   'V1-': 0.75, 'V1': 1, 'V1 PG13': 1, '5.9 V1': 1,
                   'V1 R': 1.25, 'V1 X':1.25, 'V1+': 1.25, 'V1+ PG13': 1.25, 'V1-2': 1.5, 
                   'V2-': 1.75, '5.10+ V2': 2, 'V2': 2, 'V2 PG13': 2, '5.11b V2': 2,
                   'V2 R': 2.25, 'V2+': 2.25, 'V2-3': 2.5, '5.10- V2-3': 2.5, 'V2+ X': 2.5, 
                   'V3-': 2.75, 'V3- R': 3, 'V3': 3, 'V3 PG13': 3,
                   'V3 R': 3.25, '5.11c V3 R': 3.25, 'V3+': 3.25, 'V3+ R':3.5, 'V3-4': 3.5,
                   'V4-': 3.75, 'V4': 4, 'V4 PG13': 4,
                   'V4 R': 4.25, 'V4 X': 4.25, 'V4+': 4.25, 'V4+ PG13': 4.25, 'V4-5': 4.5,
                   'V5-': 4.75, 'V5': 5, 'V5 PG13': 5, '5.12c V5 X': 5,
                   'V5 R': 5.25, 'V5+': 5.25, 'V5+ X': 5.5, 'V5-6': 5.5,
                   'V6-': 5.75, 'V6- PG13': 5.75, 'V6- R': 6, 'V6': 6, 'V6 PG13': 6,
                   'V6 R': 6.25, 'V6+': 6.25,  'V6-7': 6.5, 'V6-7 PG13': 6.5, 
                   'V7-': 6.75, 'V7': 7, 'V7 PG13': 7,
                   'V7 R': 7.25, 'V7+':7.25, 'V7-8': 7.5,   
                   'V7-8 R': 7.75, 'V8-': 7.75, 'V8': 8, 'V8 PG13': 8,
                   'V8 R':8.25, 'V8 X': 8.25, 'V8+': 8.25, 'V8-9': 8.5, 
                   'V9-': 8.75, 'V9': 9, 'V9 PG13': 9,
                   'V9 R': 9.25, 'V9+': 9.25, 'V9+ PG13': 9.25, 'V9 X': 9.25, 'V9-10':9.5, 'V9-10 PG13': 9.5, 
                   'V10-': 9.75, 'V10': 10, 'V10 PG13': 10,
                   'V10 R': 10.25, 'V10 X': 10.25, 'V10+': 10.25,  'V10-11': 10.5, 'V10-11 PG13': 10.5,
                   'V11-': 10.75, 'V11': 11,
                   'V11 R': 11.25, 'V11 X': 11.25, 'V11-12': 11.5,
                   'V12-': 11.75, 'V12': 12, 'V12 PG13': 12,
                   'V12+': 12.25, 'V12-13 R': 12.5,
                   'V13': 13,  'V13 PG13': 13, 'V13 R': 13.25, 'V13-14 PG13': 13.5,
                   'V14': 14}

In [4]:
query = """
SELECT rating
FROM buttermilks;
"""
buttermilks_rating_df = pd_sql.read_sql(query, connection)
buttermilks_rating_df

          rating
0             V0
1             V0
2             V0
3           V0 X
4             V0
5      5.8+ V0 X
6             V0
7             V0
8             V0
9             V0
10            V0
11            V0
12            V0
13            V0
14            V0
15            V0
16            V0
17            V0
18            V0
19            V0
20            V0
21            V0
22            V0
23            V0
24            V0
25            V0
26            V0
27            V0
28            V0
29            V0
..           ...
367          V0-
368          V0-
369           V4
370        V11 X
371          V11
372          V11
373          V11
374       V11-12
375         V12-
376          V12
377          V12
378          V12
379          V12
380          V12
381          V12
382          V0-
383          V0-
384          V0-
385          V0-
386          V0-
387  V10-11 PG13
388          V11
389          V12
390     V12-13 R
391          V13
392        V13 R
393          V13
394     V13 PG13
395  V13-14 PG13
396          V14

[397 rows x 1 columns]

In [6]:
buttermilks_rating_df['grade'] = buttermilks_rating_df.rating.replace(conversion_dict)
buttermilks_rating_df

          rating  grade
0             V0   0.00
1             V0   0.00
2             V0   0.00
3           V0 X   0.25
4             V0   0.00
5      5.8+ V0 X   0.25
6             V0   0.00
7             V0   0.00
8             V0   0.00
9             V0   0.00
10            V0   0.00
11            V0   0.00
12            V0   0.00
13            V0   0.00
14            V0   0.00
15            V0   0.00
16            V0   0.00
17            V0   0.00
18            V0   0.00
19            V0   0.00
20            V0   0.00
21            V0   0.00
22            V0   0.00
23            V0   0.00
24            V0   0.00
25            V0   0.00
26            V0   0.00
27            V0   0.00
28            V0   0.00
29            V0   0.00
..           ...    ...
367          V0-  -0.25
368          V0-  -0.25
369           V4   4.00
370        V11 X  11.25
371          V11  11.00
372          V11  11.00
373          V11  11.00
374       V11-12  11.50
375         V12-  11.75
376          V12  12.00
377          V12  12.00
378          V12  12.00
379          V12  12.00
380          V12  12.00
381          V12  12.00
382          V0-  -0.25
383          V0-  -0.25
384          V0-  -0.25
385          V0-  -0.25
386          V0-  -0.25
387  V10-11 PG13  10.50
388          V11  11.00
389          V12  12.00
390     V12-13 R  12.50
391          V13  13.00
392        V13 R  13.25
393          V13  13.00
394     V13 PG13  13.00
395  V13-14 PG13  13.50
396          V14  14.00

[397 rows x 2 columns]

In [101]:
# Add url_id derived from the url, store as INT type

cursor.execute(
"""
UPDATE buttermilks
SET avg_stars = 
CAST (
    REPLACE ( CAST (avg_stars AS TEXT), '-1.0', '0.0')
AS FLOAT
);
"""
)

connection.commit()

In [7]:
# Check data types

cursor = connection.cursor()

cursor.execute(
"""
SELECT DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'joshua_tree';
"""
)

cursor.fetchall()

[('text',),
 ('text',),
 ('text',),
 ('double precision',),
 ('integer',),
 ('text',),
 ('text',),
 ('integer',),
 ('double precision',),
 ('double precision',),
 ('double precision',),
 ('integer',)]

In [4]:
# Bishop, combine the following four files after cleaning

buttermilks_df = pd.read_csv(r"data/scraped-data/buttermilks-df.csv")
druid_stones_df = pd.read_csv(r"data/scraped-data/druid_stones-df.csv")
happy_boulders_df = pd.read_csv(r"data/scraped-data/happy_boulders-df.csv")
sad_boulders_df = pd.read_csv(r"data/scraped-data/sad_boulders-df.csv")

buttermilks_df_proc = clean_df(buttermilks_df)
druid_stones_df_proc = clean_df(druid_stones_df)
happy_boulders_df_proc = clean_df(happy_boulders_df)
sad_boulders_df_proc = clean_df(sad_boulders_df)

bishop_df = buttermilks_df.append(druid_stones_df).append(happy_boulders_df).append(sad_boulders_df) # Concatenate
bishop_proc_df = bishop_df.drop(columns = {"Unnamed: 0"}).dropna().reset_index(drop=True)
bishop_proc_df.to_csv(r"data/processed-csv/bishop-proc-df.csv") # Export